body
{
  background-color: #CCCCCC;
  
}
div
{
  margin: auto;
  width:500px;
}
blockquote
{
  border: 1px solid;
  border-color: white;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

}
h1, h3{

  font-weight:bolder;
}
